*{
    margin: 0;
    padding: 0;
}
footer{
    width: 100%;
    height: 120px;
    padding-top: 1%;
    padding-right:2%; 
    font-family: 'Courier New', Courier, monospace;
    text-align: right;
    background-color: darkgray;
    box-sizing: border-box;
}
footer > h3{
    font-family: "仿宋";
}
footer > div > h6{
    display: inline;
}
